body{
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
}

.page{
    width: 1100px;
    height: 1000px;
    margin: 0 auto;
}

.title{
    font-size: 23px;
    justify-self: start;
    align-self: center;
    padding-left: 100px;
    margin-top: 5px;
}

.navbar{
    width: 1100px;
    position: fixed;
    background-color: #292929;
    color: white;
    height: 90px;
    align-content: center;

}

.navbar-brand{

    color: white;
    text-align: start;
}

.subnav{
    display: flex;
    background-color: #292929;
    height: 40px;
    width: 100%;
    justify-content: space-evenly;
    align-content: center;
    padding-left: 80px;
    margin-bottom: -px;
}

.news{
    display: flex;
    align-items: flex-end;
    padding-top: 125px;
    width: 1100px;
    height: 30px;  
}

.news-div{
    width: 100%;
    height: 30px;
    color: white; 
    padding-left: 10px;
    background: linear-gradient(blue 2px, rgb(58, 4, 58) 2px, rgb(13, 6, 82));
}

.btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 8px;
    --bs-btn-line-height: 0.5;
    width: auto;
    min-height: 35px;
    margin: 10px 5px;
}

.form-control{
    max-height: 40px;
    align-self: center;
}

.nav2{
    display: none;
}




/* Animation for the logo start here: */
.logoanimation{
    height: 80px;
    width: 80px; 
    margin-bottom: -100px;
}

.logo{
    position: relative;
    display: flex;
    height: 80px;
    width: 80px; 
    transform-style: preserve-3d;
    transform: rotateY(360deg) rotateX(-180deg);
    transition: 800ms ease-in;
}

.logo:hover{
    transform: rotateY(90deg) rotateX(0deg);
}

.logo div{
    position: absolute;
    height: 80px;
    width: 80px; 
    background-color: #4a6da7;
    background-image: url(https://assetsnffrgf-a.akamaihd.net/assets/ct/7daa2ed27f/images/siteLogo-jworg-large.svg);
    background-size: 80px 85px;
}

.logo div:nth-child(1){
    transform: translateZ(40px) rotate(180deg); 
}

.logo div:nth-child(2){
    transform: rotateX(180deg) translateZ(40px);
}

.logo div:nth-child(3){
    transform: rotateY(-90deg) translateZ(40px);
}

.logo div:nth-child(4){
    transform: rotateY(90deg) rotate(180deg) translateZ(40px);
        
}

.logo div:nth-child(5){
    transform: rotateX(90deg) rotate(0deg) translateZ(40px);
      
}

.logo div:nth-child(6){
    transform: rotateX(-90deg) translateZ(40px);    
}
/* Animation for the logo ends here! */


@media screen and (max-width:1100px) {
	.page{
		width:100%;
        margin: 0 auto;
		}
    .navbar{
        width:100%;
        margin: 0 auto;
        position: relative;
    }
    .news{
        padding-top:0px;
        margin-top: 5px;
        width: 100%;
        height: 30px;  
    }
    .logoanimation{
            margin-left: 10px; 
    }
}
@media screen and (max-width:900px) {
    .navbar{
        width:100%;
        height: 70px;
        margin: 0 auto;
        position: relative;
    }
    .title{
        padding-left: 85px;
    }
    .btn-text{
        display: none;
    }
    .form-control{
        display: none;
    }
    .subnav{
        display: none;
    }

    .logoanimation{
        height: 60px;
        width: 60px; 
        margin-bottom: -55px;
        margin-left: 10px;
    }
    .logo{
        position: relative;
        display: flex;
        height: 100%;
        width: 100%; 
      }
    .logo div{
        position: absolute;
        height: 100%;
        width: 100%; 
        background-size: 100% 100%;
        } 
        .logo div:nth-child(1){
            transform: translateZ(25px) rotate(180deg); 
        }
        
        .logo div:nth-child(2){
            transform: rotateX(180deg) translateZ(25px);
        }
        
        .logo div:nth-child(3){
            transform: rotateY(-90deg) translateZ(25px);
        }
        
        .logo div:nth-child(4){
            transform: rotateY(90deg) rotate(180deg) translateZ(25px);
                
        }
        
        .logo div:nth-child(5){
            transform: rotateX(90deg) rotate(0deg) translateZ(25px);
              
        }
        
        .logo div:nth-child(6){
            transform: rotateX(-90deg) translateZ(25px);    
        }
}

