body{
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
}
.page{
    width: 1100px;
    height: 2000px;
    margin: 0 auto;
}
.title{
    font-size: 23px;
    justify-self: start;
    align-self: center;
    padding-left: 100px;
    margin-top: 5px;
}
.form1{
    margin-left: auto;
    margin-top: 10px;
}
.mainnav{
    width: 1100px;
    position: fixed;
    background-color: #292929;
    color: white;
    height: 90px;
    align-content: center;
    z-index: 4;
}
.subnav{
    display: flex;
    position:unset;
    background-color: #292929;
    height: 35px;
    width: 100%;  
    justify-content: center;
    align-content: center; 
    z-index: 4; 
}
.news{
    display: flex;
    align-items: flex-end;
    padding-top: 125px;
    width: 1100px;
    height: 30px;  
}
.news-div{
    width: 100%;
    height: 30px;
    color: white; 
    padding-left: 10px;
    background: linear-gradient(blue 2px, rgb(58, 4, 58) 2px, rgb(13, 6, 82));
}
.btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 8px;
    --bs-btn-line-height: 0.5;
    width: auto;
    min-height: 35px;
    margin: 10px 5px;
}
.form-control{
    max-height: 40px;
    align-self: center;
}

/* Animation for the logo start here: */
.logoanimation{
    height: 80px;
    width: 80px; 
    margin-bottom: -100px;
    z-index: 5;
}
.logostatic{
    position: absolute;
    background: url(https://assetsnffrgf-a.akamaihd.net/assets/ct/7daa2ed27f/images/siteLogo-jworg-large.svg);
    background-size: 100px 80px;
    height: 80px;
    width: 100px;
    z-index: 20;
    opacity: 1;
    transition: opacity 200ms ease-in-out;
    transition-delay: 2s;
    pointer-events: auto;
}
.logoanimation:hover .logostatic{opacity: 0; pointer-events: none; transition-delay: 0ms;}
.logo{
    position: relative;
    display: flex;
    height: 80px;
    width: 100px; 
    opacity: 1 !important;
    transform-style: preserve-3d;
    transform: rotateY(360deg) rotateX(-180deg);
    transition: 1000ms ease-in-out;
}
.logo:hover{  transform: rotateY(90deg) rotateX(0deg); opacity: 1 !important; }
.logo div{
    position: absolute;
    height: 80px;
    width: 80px; 
    background: url(https://assetsnffrgf-a.akamaihd.net/assets/ct/7daa2ed27f/images/siteLogo-jworg-large.svg);
    background-size: 100px 80px;
    opacity: 1 !important;
}
.logo div:nth-child(1){  transform: translateZ(40px) rotate(180deg);  }
.logo div:nth-child(2){  transform: rotateX(180deg) translateZ(40px);  }
.logo div:nth-child(3){  transform: rotateY(-90deg) translateZ(40px);  }
.logo div:nth-child(4){  transform: rotateY(90deg) rotate(180deg) translateZ(40px);  }
.logo div:nth-child(5){  transform: rotateX(90deg) rotate(0deg) translateZ(40px);  }
.logo div:nth-child(6){  transform: rotateX(-90deg) translateZ(40px);  }
/* Animation for the logo ends here! */

.carousel-inner{  text-shadow: 2px 2px 6px rgba(0, 0, 0, 1), -2px -2px 4px rgba(0, 0, 0, 1);  }
.slider-link{  
    color: white;  
    text-decoration: none;
}
a:hover{
    cursor: pointer;
    text-decoration: underline;
}


@media screen and (max-width:1100px) {
	.page{
		width:100%;
        margin: 0 auto;
		}
    .mainnav{
        width:100%;
        margin: 0 auto;
        position: relative;
    }
    .news{
        padding-top:0px;
        margin-top: 5px;
        width: 100%;
        height: 30px;  
    }
    .logoanimation{  margin-left: 10px;  }
}

@media screen and (max-width:900px) {
    .mainnav{
        width:100%;
        height: 70px;
        margin: 0 auto;
        position: relative;
    }
    .title{
        padding-left: 85px;
        margin-top: 20px;
    }
    .btn{
        min-height: 30px;
        margin: 0px 5px;
    }
    .subnav{  height: 30px;  }
    .btn-text{  display: none;   }
    .form-control{  display: none;  }
    .news{
        margin-top: 8px;
        height: 25px;  
    }
    .news-div{   height: 100%;  }
    .logoanimation{
        height: 60px;
        width: 60px; 
        margin-left: 10px;
    }
    .logo{
        position: relative;
        display: flex;
        height: 100%;
        width: 100%; 
      }
    .logo div{
        position: absolute;
        height: 100%;
        width: 100%; 
        background-size: 100% 100%;
        } 
        .logo div:nth-child(1){     transform: translateZ(25px) rotate(180deg); }
        .logo div:nth-child(2){     transform: rotateX(180deg) translateZ(25px); }
        .logo div:nth-child(3){     transform: rotateY(-90deg) translateZ(25px); }
        .logo div:nth-child(4){     transform: rotateY(90deg) rotate(180deg) translateZ(25px); }
        .logo div:nth-child(5){     transform: rotateX(90deg) rotate(0deg) translateZ(25px); }
        .logo div:nth-child(6){     transform: rotateX(-90deg) translateZ(25px); }
}

@media screen and (max-width:480px) {
    .title{  display:none;  }
    .form1{
        margin-top: -5px;
        margin-bottom: 2px;
    }
    .logoanimation{  margin-top: -50px;  }
    .news{  margin-top: 0px;  }
    .offcanvas{  --bs-offcanvas-width: 100%;  }
    .carousel-control-prev{  height: 60%;  }
    .carousel-control-next{  height: 60%;  }
    .carousel-indicators{
        margin: 5px auto;
    }
    .carousel-caption{
        display: block;
        position: unset;
        margin: 0 1px;
        padding: 10px 5px;
        background-color: #292929;
        border: 1px solid white;
    }
}

@media screen and (min-width: 0px) {
    .d-md-block {  display: block !important;  }
}